body {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  color: #f00;
  background-color: aqua
}

h1 {
font-size: 36px;
color: red;
font-family: 'Open Sans';
}

p {
font-family: 'Open Sans';
font-size: 14px;
color: #ccc;
line-height: 18px;
margin-bottom: 20px;
}

li,lo {
  color: blue;
}
